#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"

/* layer and key shortcuts */

#define ___ &trans

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NUM 1
#define NAV 2


/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

ZMK_BEHAVIOR(xtra, hold_tap,
    flavor = "hold-preferred";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    bindings = <&kp>, <&kp>;
)

#undef COMBO_TERM
#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
ZMK_COMBO(combo_esc,  &kp ESC, 4 5, DEF)  // custom sleep macro, only active on NAV layer
ZMK_COMBO(combo_tab_l,  &kp TAB, 6 7, DEF)


ZMK_LAYER(default_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              &none     &kp Q         &kp W         &kp E         &kp R         &kp T               &kp Y         &kp U         &kp I         &kp O         &xtra LBKT P     &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
              &none     &hrm LCTRL A  &hrm LALT S   &hrm LSHFT D  &hrm LGUI F   &kp G               &kp H         &hrm LGUI J   &hrm LSHIFT K &hrm LALT L   &hrm LCTRL SEMI  &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
              &none     &kp Z         &kp X         &kp C         &kp V         &kp B               &kp N         &xtra RBKT M  &kp COMMA     &kp DOT       &xtra BSLH FSLH  &none 
     // ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
                                                    &kp CAPS      &kp SPACE     &mo NAV             &kp BSPC        &mo NUM       &kp RET 
     //                                           ╰─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
              &none      &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR         &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
              &none      &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp MINUS     &kp EQUAL     &kp SQT       &kp LBKT      &kp RBKT         &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
              &none      &kp N6        &kp N7        &kp N8        &kp N9        &kp N0            &kp UNDER     &kp PLUS      &kp DQT       &kp LBRC      &kp RBRC         &none 
     // ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
                                                    ___           ___           ___                ___           ___           ___
     //                                           ╰─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮    ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &none       &kp F11       &kp F12       &kp C_VOL_UP  &kp C_VOL_DN  &kp C_MUTE        &kp HOME       &kp PG_DN    &kp PG_UP     &kp END       &kp GRAVE        &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
             &none       &kp F1        &kp F2        &kp F3        &kp F4        &kp F5            &kp LEFT       &kp DOWN     &kp UP        &kp RIGHT     &kp TILDE        &none 
     // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
             &none       &kp F6        &kp F7        &kp F8        &kp F9        &kp F10           &bt BT_SEL 0   &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4     &none 
     // ╰─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────┬─────────────┼─────────────┤
                                                    ___           ___           ___                &kp DELETE     &studio_unlock  &bt BT_CLR
     //                                           ╰─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────╯
)
